.tasks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;

  padding: 1rem;
  background: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.tasks input[type="radio"] {
  display: none;
}

.tasks input[type="radio"] + label:before {
  content: "\2714";
  border: 0.2rem solid var(--blue);
  border-radius: 50%;
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.2rem;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
  text-align: center;
  line-height: 1.3rem;
  vertical-align: middle;
}

.tasks input[type="radio"] + label:active:before {
  transform: scale(0);
}

.tasks input[type="radio"]:checked + label:before {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
  color: #fff;
}

.tasks input[type="radio"]:checked + label + p {
  color: var(--gray-300);
  text-decoration: line-through;
}

.tasks p {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-100);
}

.tasks button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;

  padding: 0.15rem;
}

.tasks button:not(:disabled):hover {
  background: var(--gray-400);
  border-radius: 4px;
  color: var(--danger);
}
